#! /usr/bin/make -f

## See debhelper(7) (uncomment to enable).
## Output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PIKA_BUILD_ARCH = $(shell cat ../pika-build-arch)
export PATH := $(PATH):/root/.cargo/bin

override_dh_prep:
# amd64 build prep
ifeq (amd64-v3,$(PIKA_BUILD_ARCH))
# Does not support LTO due to dylib-lto
#export RUSTFLAGS = -C target-cpu=x86-64-v3 -C lto=fat -C embed-bitcode -C codegen-units=1 -C opt-level=3 -Zdylib-lto
export RUSTFLAGS = -C target-cpu=x86-64-v3 -C opt-level=3
endif

%:
	dh $@

override_dh_auto_install:
	/root/.cargo/bin/cargo fetch
	/root/.cargo/bin/cargo build --release

override_dh_install:
	dh_install
	#cp -vf target/release/pika-installer-gtk4 debian/pika-installer-gtk4/usr/bin/
	#chmod 755 debian/pika-installer-gtk4/usr/bin/pika-installer-gtk4
	mkdir -p debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/bin/
	cp -vf target/release/pika-installer-gtk4 debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/bin/
	chmod 755 debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/bin/pika-installer-gtk4
	mkdir -p debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/scripts/
	mkdir -p debian/pika-installer-gtk4/usr/share/glib-2.0/schemas/
	cp -rvf data/scripts/*.sh debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/scripts/
	cp -rvf data/scripts/*.py debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/scripts/
	cp data/*.xml debian/pika-installer-gtk4/usr/share/glib-2.0/schemas/
	chmod 755 debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/scripts/*.sh
	chmod 755 debian/pika-installer-gtk4/usr/lib/pika/pika-installer-gtk4/scripts/*.py
	mkdir -p debian/pika-installer-gtk4/usr/share/applications
	mkdir -p debian/pika-installer-gtk4/usr/share/icons/hicolor/scalable/apps
	#cp -vf data/pika-drivers.svg debian/pika-installer-gtk4/usr/share/icons/hicolor/scalable/apps/
	#cp -vf data/com.pika.drivers.desktop  debian/pika-installer-gtk4/usr/share/applications/
	#makepot debian/pika-installer-gtk4/usr/share/locale
	mkdir -pv debian/pika-installer-gtk4/usr/share/applications/
	mkdir -pv debian/pika-installer-gtk4/etc/xdg/autostart/
	mkdir -pv debian/pika-installer-gtk4/usr/bin/
	mkdir -pv debian/pika-installer-gtk4/etc/pika-installer-gtk4/
	cp -vf debian/extras/pika-installer.desktop debian/pika-installer-gtk4/usr/share/applications/
	cp -vf debian/extras/pika-installer-autostart.desktop debian/pika-installer-gtk4/etc/xdg/autostart/
	cp -vf debian/extras/pika-installer debian/pika-installer-gtk4/usr/bin/
	chmod +x debian/pika-installer-gtk4/usr/bin/pika-installer
	cp -vf debian/extras/powermanagementprofilesrc debian/pika-installer-gtk4/etc/pika-installer-gtk4/
	

	
