.small_error_text {
    font-size: 14px;
    color: red;
}

.small_warn_text {
    font-size: 14px;
    color: orange;
}

.small_valid_text {
    font-size: 14px;
    color: green;
}

.big_error_text {
    font-size: 32px;
    color: red;
}

.header_sized_text {
    font-size: 32px;
}

.medium_sized_text {
    font-size: 18px;
}

.valid-action {
    background-color:green;
    color: white;
}
